- throw_content :for_javascript do
  :plain
    $('input').click(function() {
      $('.translate').each(function() {
        var el = $(this)

        $.getJSON('/en/ru/' + $.trim(el.html()).replace(' ', '+') + '.json', function(data) {
          el.html(data["rows"][0]["doc"]["target_word"].replace(/\(.*?\)/, ''))
        })
      })
      $('input').hide()
    })

%p
  In
  %span.translate
    Soviet Union
  ,
  %span.translate
    Russian
  translates YOU!

%input{ :type => "button", :value => "Translate" }/
