!!!
%html
  %head
    %title Lots of words
    %style{ :type => 'text/css' }
      :plain
        #container {
          font-family: helvetica;
          margin-left: 400px;
          padding-left: 50px;
          border-left: 15px solid #F00;
          height: 100%;
        }
        
        h1 {
          font-size: 800%;
        }

    %script{ :src => "http://www.google.com/jsapi" }

    %script{ :type => 'text/javascript' }
      :plain
        google.load("jquery", "1.2.6");

        google.setOnLoadCallback(function() {
          #{ catch_content :for_javascript if thrown_content? :for_javascript }
        })

  %body
    #container
      = catch_content :for_layout
      
      #comments
        Leave some feedback!
        
        %form{ :action => 'feedbacks', :method => 'post' }
          %textarea{ :name => 'comment' }
          %submit